@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Itim&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientMove {
    0% {
      background-position: 100% 50%; /* Gradien mulai dari kanan */
    }
    100% {
      background-position: 0% 50%; /* Gradien bergerak ke kiri */
    }
  }
  
  .animate-text {
    background: linear-gradient(90deg, #01470B, #00FF24,#01470B, #00FF24);
    background-size: 400% 400%;  /* Membuat gradien cukup besar untuk bergerak */
    animation: gradientMove 4s ease infinite;  /* Durasi 5 detik dan animasi berulang */
    -webkit-background-clip: text; /* Membuat gradien hanya untuk teks */
    color: transparent;  /* Membuat teks transparan agar hanya gradien yang terlihat */
  }
  
  